#landing-layout {
	background: white;
	max-width: 1800px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

/*!!!!!!!!!! MEDIA QUERIES !!!!!!!!!!!*/

@media screen and (max-width: 1700px) {
	#landing-layout {
		max-width: 1400px;
	}
}

@media screen and (max-width: 991px) {
}

@media screen and (max-width: 767px) {
}

/*iPhone 6/7/8 Plus*/
@media screen and (max-width: 415px) {
}

/*iPhone 6/7/8/X*/
@media screen and (max-width: 375px) {
	#landing-layout {
		max-width: 370px;
	}
}
