#landing-layout {
	background: white;
	max-width: 1800px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

@media screen and (max-width: 991px) {
}

@media screen and (max-width: 767px) {
}
