#landing-layout {
	background: white;
	max-width: 1800px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

#landing-books {
	margin-top: -50px;
}

#landing-divider {
	width: 93%;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

#landing-music {
	margin-top: -100px;
	margin-bottom: -40px;
}

#landing-blog {
	margin-top: -70px;
}

.spinner-container-black {
	background-color: #222;
	padding: 30px;
	min-height: 1440px;
}

.spinner-position-center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.ScrollUpButton__Container.ScrollUpButton__Toggled:focus {
	outline: 0;
}

/*!!!!!!!!!! MEDIA QUERIES !!!!!!!!!!!*/
@media screen and (max-width: 2880px) {
	.spinner-container-black {
		min-height: 1800px;
	}
}

@media screen and (max-width: 1680px) {
	#landing-layout {
		max-width: 1400px;
	}
	.spinner-container-black {
		min-height: 1400px;
	}
}

@media screen and (max-width: 991px) {
	#landing-layout {
		max-width: 981px;
	}
	.spinner-container-black {
		min-height: 1024px;
	}
	#landing-goose {
	margin-top: 90px;
	margin-bottom: 50px;
	}
}

@media screen and (max-width: 767px) {
	#landing-layout {
		max-width: 757px;
	}
	.spinner-container-black {
		min-height: 1024px;
	}
	#landing-goose {
	margin-top: 60px;
	margin-bottom: 50px;
	}
}

/*iPhone 6/7/8 Plus*/
@media screen and (max-width: 415px) {
	#landing-layout {
		max-width: 405;
	}
	.spinner-container-black {
		min-height: 1024px;
	}
	#landing-goose {
	margin-top: 80px;
	margin-bottom: 50px;
	}
}

/*iPhone 6/7/8/X*/
@media screen and (max-width: 375px) {
	#landing-layout {
		max-width: 365px;
	}
	.spinner-container-black {
		min-height: 1024px;
	}
}
