.navbar {
  padding: 6px;
  font-size: 17px;
}

.navbar-nav {
  margin-bottom: -2px;
}

.anticon svg {
  height: 22px;
  width: 22px;
  margin: 0 10px 0 10px;
}

/*.container {
  margin-left: 10px;
  width: 98.5%;
}*/

.button:hover {
  background-color: grey;
  transition: background-color 0.3s;
  transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

#logo {
  height: 43px;
  width: auto;
  margin-top: -8px;
}
