.navbar.navbar-inverse.navbar-fixed-top {
  padding: 5px 22px 5px 22px;
}

/*ul.nav.navbar-nav {
  margin-top: 5px !important;
}*/

/*.navbar {
  padding: 6px;
  font-size: 17px;
}

.navbar-nav {
  margin-bottom: -2px;
}*/

.anticon svg {
  height: 22px;
  width: 22px;
  margin: 0 10px 0 10px;
}

.button:hover {
  background-color: grey;
  transition: background-color 0.3s;
  transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

#logo {
  height: 43px;
  width: auto;
  margin-top: -8px;
}
