#navbox-container {
  overflow: hidden;
}

#banner {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 800px;
  height: auto;
}

#banner-container {
  margin-top: 44px;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3)),
    url('../style/analogue-blur-classic-resized.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}

#banner-container {
  min-height: 1024px;
}

.jumbotron {
  padding: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  /*this hides the box shaddow*/
  margin-bottom: 0px;
}

#no-slide-animation {
  display: none;
}

#padding {
  height: 80px;
}

#banner-quote {
  font-size: 60px;
  text-align: left;
  margin-left: 10%;
  color: white;
  font-weight: 750;
}

#subscribe-button.btn {
  font-size: 25px;
  font-weight: 400;
  font-family: 'Helvetica Neue';
  display: inline-block;
  height: 80px;
  padding-left: 40px;
  padding-right: 40px;

  margin-top: 150px;
  background-image: linear-gradient(to bottom, #9d9d9d 0, #00cdff 100%);
  color: #ffffff;
  border-radius: 0px;
  border: 0px;
  background-color: #00cdff;
  /*margin-left: 30%;*/
}

#subscribe-button.btn:hover {
  background-image: none;
  background-color: #ff8800;
}

.box {
  background-image: linear-gradient(to bottom, #030303 0, #2e2e2e 100%);
  height: 282px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.show-grid .row {
  margin-right: 0px;
  margin-right: 0px;
}

#music-box-2 {
  display: none;
}

#music-box:before {
  content: url('/images/black-white-vinyl.jpg');
  width: 0;
  height: 0;
  display: none;
}

#music-box:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3)),
    url('/images/black-white-vinyl.jpg');
}

#store-box:before {
  content: url('/images/black-white-store.jpg');
  width: 0;
  height: 0;
  display: none;
}

#store-box:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3)),
    url('/images/black-white-store.jpg');
  /*background-image: url("/images/black-white-store.jpg");*/
  background-size: cover;
}

#event-box:before {
  content: url('/images/black-white-laughing-on-stage.jpg');
  width: 0;
  height: 0;
  display: none;
}

#event-box:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3)),
    url('/images/black-white-laughing-on-stage.jpg');
  background-size: cover;
}

.img-button {
  width: 250px;
  height: auto;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
}

#img-col {
  height: 130px;
}

a {
  text-decoration: none !important;
}

#box-button.btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  background-image: linear-gradient(to bottom, #9d9d9d 0, #00cdff 100%);
  color: #ffffff;
  border-radius: 0px;
  height: 50px;
  width: auto;
  border: 0px;
  text-decoration: none;
  background-color: none;
}

#box-button.btn:hover {
  background-image: none;
  background-color: #ff8800;
}

.container {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  /*clear: both;*/
}

.col-md-4.box.grow {
  padding-left: 0px;
  padding-right: 0px;
  border: solid rgba(0, 0, 0, 0.65) 1px;

  transition: all 0.4s ease-in-out;
}

.col-md-4.box.grow:hover {
  transform: scale(1.05);
  z-index: 100;
}

#event-box:hover {
  margin-right: -30px;
}

/*!!!!!!!!!! MEDIA QUERIES !!!!!!!!!!!*/

/*Apple Display 27inch*/
@media screen and (min-width: 2360px) {
  #banner-container {
    min-height: 1400px;
  }
  #padding {
    height: 135px;
  }
  #banner {
    width: 1000px;
    margin-bottom: 100px;
  }
  #banner-quote {
    font-size: 75px;
  }
  .col-md-4.box.grow {
    height: 335px;
  }
  #box-button.btn {
    height: 60px;
    padding: 20px 20px;
  }
}

@media screen and (max-width: 1366px) {
  #banner-container {
    min-height: 1024px;
  }
}

@media screen and (max-width: 1024px) {
  #banner-container {
    min-height: 1044px;
  }
}

@media screen and (max-width: 991px) {
  .box {
    height: 200px;
  }

  #box-button.btn {
    margin-top: 0px;
    margin-left: -55px;
  }

  .img-button {
    margin-top: 5px;
    width: 200px;
  }

  .col-md-4.box.grow {
    transition: none;
  }
  .col-md-4.box.grow:hover {
    transform: none;
    z-index: 100;
  }
  #banner {
    width: 600px;
    margin-bottom: 70px;
  }

  #padding {
    height: 65px;
  }

  /*  .anticon svg {
    margin: 3px;
  }*/

  #subscribe-button.btn {
    margin-left: 70%;
    margin-bottom: 40px;
  }

  #quote-col {
    margin-bottom: -150px;
  }
  #banner-quote {
    font-size: 40px;
  }
  .col-md-4.box.grow {
    width: 33.33333333%;
    float: left;
  }
}

/*iPad Vertical*/
@media screen and (max-width: 768px) {
  .col-md-4.box.grow {
    display: none;
  }
  #banner-container {
    min-height: 780px;
  }

  #padding {
    height: 50px;
  }

  #subscribe-button.btn {
    margin-left: 60%;
    margin-bottom: 85px;
  }
}

@media screen and (max-width: 600px) {
  #banner {
    width: 400px;
  }

  #padding {
    height: 100px;
  }
  #subscribe-button.btn {
    margin-left: 45%;
  }
  #banner-quote {
    font-size: 30px;
  }
}

/*iPhone 6/7/8 Plus*/
@media screen and (max-width: 415px) {
  #no-slide-animation {
    display: block;
  }
  #with-slide-animation {
    display: none;
  }
  #banner-container {
    min-height: 650px;
  }
  #banner {
    width: 335px;
    margin-bottom: 30px;
  }
  #padding {
    height: 60px;
  }
  #banner-quote {
    font-size: 25px;
  }
  #subscribe-button.btn {
    margin-top: 80px;
  }
}

/*iPhone 6/7/8/X*/
@media screen and (max-width: 375px) {
  #banner-container {
    min-height: 780px;
  }
  #banner {
    width: 315px;
  }
  #padding {
    height: 90px;
  }
  #banner-quote {
    font-size: 25px;
  }
  #subscribe-button.btn {
    margin-top: 210px;
    font-size: 18px;
    height: 60px;

    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (max-width: 320px) {
  #banner-container {
    min-height: 480px;
  }
  #padding {
    height: 30px;
  }
  #subscribe-button.btn {
    margin-top: 80px;
    font-size: 18px;
    height: 60px;

    padding-left: 32px;
    padding-right: 32px;
  }
}
