@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

#merch-header {
  margin-top: -20px;
  margin-bottom: 10px;
}

.slick-prev:before,
.slick-next:before {
  color: #333;
}

/*.slider-container .slick-arrow.slick-next,
.slider-container .slick-arrow.slick-prev {
  display: none !important;
}*/

.merch-img {
  margin-left: auto;
  margin-right: auto;

  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  width: 92%;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-wrapper :hover {
  opacity: 0.8;
  transition: opacity;
  transition-property: opacity;
  transition-duration: 0.4s;
  transition-timing-function: ease;
}

.slider-container {
  margin-bottom: 30px;
  background-color: #f2f2f2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#apple-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*margin-top: -30px;
  margin-bottom: 30px;*/
  width: 100px;
  height: auto;
}

#merch-thumb a > img,
#merch-thumb > img {
  padding: 2px !important;
}

#mobile-merch-display {
  display: none;
}

#desc-jumbotron-mobile {
  display: none;
}

/*!!!!!!!!!! MEDIA QUERIES !!!!!!!!!!!*/

@media screen and (max-width: 991px) {
}

/*iPhone 6/7/8 Plus*/
@media screen and (max-width: 415px) {
  #desktop-merch-display {
    display: none;
  }
  #mobile-merch-display {
  display: block;
  }
  #desc-jumbotron {
    display: none;
  }
  div#desc-jumbotron-mobile {
  display: block;
  margin-top: -15px;
  margin-bottom: 20px;
  height: 110px;
  }
  #desc-text-mobile {
    font-size: 14px;
  }
  #desc-price-mobile {
    font-size: 12px;
  }
  #buy-button-mobile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  
  background-image: linear-gradient(to bottom, #9d9d9d 0, #00cdff 100%);
  color: #ffffff;
  border-radius: 0px;
  height: 25px;
  width: 50px;
  border: 0px;
  text-decoration: none;
  background-color: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  #link-container-mobile {
    margin-bottom: 10px;
  }
}
