#amazon-icon {
  width: 450px;
  height: auto;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 80px;
  margin-top: 40px;
}

#books-container {
  max-width: 1600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

#book-thumb-container.thumbnail {
  margin-right: auto;
  margin-left: auto;
  height: auto;
  padding: 10px;
}

#box-container {
  max-width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#book-row {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 80%;
}

.description {
  color: #00000073;
}

#divider {
  max-width: 92%;
}

@media screen and (max-width: 991px) {
  .desc-title {
    text-align: center;
  }

  #amazon-icon {
    width: 350px;
  }

  .description {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #book-row {
    max-width: 100%;
  }
  .description {
    margin-top: 15px;
  }
  #amazon-row {
    margin-top: -40px;
    margin-bottom: -30px;
  }
}

@media screen and (max-width: 600px) {
  #amazon-icon {
    width: 300px;
  }
}

@media screen and (max-width: 450px) {
  #amazon-icon {
    width: 250px;
  }
}

/*iPhone 6/7/8 Plus*/
@media screen and (max-width: 415px) {
  .description {
    width: 98%;
  }
  #amazon-row {
    margin-top: -40px;
    margin-bottom: -30px;
  }
  .desc-title {
    font-size: 28px;
  }

  .description {
    margin-top: 15px;
  }
}

/*iPhone 6/7/8/X*/
@media screen and (max-width: 375px) {
}

/*.thumbnail {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}*/
