#amazon-icon {
  width: 250px;
  height: auto;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 80px;
  margin-top: 60px;
}

#books-container {
  max-width: 1600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

#book-thumb-container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: auto;
  padding: 10px;
}

#book-row {
  margin-bottom: 30px;
}

p {
  color: #00000073;
}

/*.thumbnail {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}*/
