#amazon-icon {
  width: 250px;
  height: auto;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 80px;
  margin-top: 60px;
}

#book-container a > img,
#book-container > img {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: auto;
  padding: 10px;
}

/*.thumbnail {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}*/


