#blog-container {
  margin-top: 100px;
}

#blog-img {
	display: block;
	margin-left: auto;
	margin-right: auto;

}

.blog-text {
	padding: 10px;
	margin-left: 20px;
}

#text {
	margin-top: -10px;
}

#blog-content {
	background-color: #f5f5f5;
	display: block;
	width: 80%;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}

/*#read-more {
	text-align: center;
}*/

.blog-text br {
  display: none;
}

.blog-text span {
  margin-right: 4px;
  font-size: 16px;
}

.blog-text span a {
	display: inline-block;
	margin-left: -10px;
	margin-top: -9px;
}

#blog-discription {
	font-size: 20px;
}

.ant-pagination.mini {
	margin-bottom: 30px;
}





