
.ant-layout-header {
	background-color: black;
}

.ant-menu {
	background-color: black;
} 

.anticon {
	width: 5em;
	font-size: 16px;
}

.anticon :hover {
	color: white;
	transition: all 0.3s ease-in-out;
}


.anticon-facebook {
	margin-left: 45%;
	
}
