#banner-container {
	margin-top: 44px;
	background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3) ), url("/images/analogue-blur-classic-164828.jpg");
 	background-repeat:no-repeat;
	background-size: cover;
	background-position:center;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}

#banner-container {
	min-height: 600px;
}

.jumbotron {
	padding: 0px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

	/*this hides the box shaddow*/
	margin-bottom: 0px;
}

.navbar {
	padding: 5px;
}

.container {
	margin-left: 10px;
	width: 98.5%;
}


.button :hover {
	background-color: grey !important;
	transition: background-color 0.3s;
	transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

#logo {
	height: 33px;
	width: auto;
	margin-top: -4px;

}

#banner {
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 800px;
	height: auto;

}

#padding {
	height: 80px;
}

@media screen and (max-width: 991px) {
	#banner {
		width: 600px;
	}

	#banner-container {
		min-height: 450px;
	}

	#padding {
	height: 65px;
	}

}

@media screen and (max-width: 767px) {
	#banner-container {
		min-height: 450px;
	}

	#padding {
	height: 65px;
	}

}

@media screen and (max-width: 600px) {
	#banner {
		width: 400px;
	}

	#padding {
	height: 110px;
	}

}
