#books-header {
	width: 150px;
	height: auto;
	display: block;
	margin: 35px auto 10px auto;
}



@media screen and (max-width: 991px) {
.ant-layout-sider.ant-layout-sider-dark {
		flex: 0 0 200px !important;
    max-width: 200px !important;
    min-width: 200px !important;
} 

}

@media screen and (max-width: 767px) {
	.ant-layout-sider.ant-layout-sider-dark {
		display: none;
	}
}