#blog-container {
	margin-top: 100px;
	margin-bottom: 30px;
}

#blog-component {
	margin-bottom: 60px;
}

#blog-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#blog-icon {
	display: block;
	margin-left: 3%;
}

.blog-text {
	padding: 10px;
	margin-left: 20px;
}

#text {
	margin-top: -10px;
}

#post-title {
	padding: 20px;
	font-size: 30px;
	font-family: Arial Black;
}

#blog-content {
	background-color: #f5f5f5;
	display: block;
	width: 80%;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}

#img-blog-header {
	margin-bottom: -20px;
}

/*#read-more {
	text-align: center;
}*/

.blog-text br {
	display: none;
}

.blog-text span {
	margin-right: 4px;
	font-size: 16px;
}

.blog-text span a {
	display: inline-block;
	margin-left: -10px;
	margin-top: -9px;
}

#blog-discription {
	font-size: 20px;
}

.ant-pagination.mini {
	margin-bottom: 30px;
}
